@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    <h1>Дизајн и архитектура на софтвер</h1>
    <h3><strong>Членови на тимот:</strong></h3>
    <ul>
        <li>Борис Тодоров - b.todorov52@gmail.com</li>
        <li>Христијан Стојанов -  hristijan127@gmail.com</li>
        <li>Ева Стоилова - evastoilova5@gmail.com</li>
        <li>Викторија Тренческа - vikitrenceska@gmail.com</li>
        <li>Ана Марија Србиноска -  anamarijasrbinoska@gmail.com</li>
    </ul>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>